			body{
				background-color:lightblue;
			}
			.indextable{
				color: purple;
				border:  3px double rebeccapurple;
				border-radius: 10px;
				text-align: left;
			}
			#h1{
				color: deeppink;
				text-shadow: 4px 3px 2px lightpink;
				font-family: Bungee Inline;
			}
			.indropbtn{
				text-decoration: none;
				background-color: deeppink;
				color:lightblue;
				padding: 5px;
				margin-right: -4px;
				border: none;
				cursor: pointer;
			}
			.indropdown{
				position: relative;
				display: inline-block;
			}
			.indropdown-content{
				display: none;
				position: absolute;
				font-size: 12px;
				background-color: rgb(204, 238, 255);
				min-width: 48px;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
			}
			.indropdown-content a{
				color: deeppink;
				padding: 5px 5px;
				text-decoration: none;
				display: block;
			}
			.indropdown-content a:hover{
				background-color: lightgrey;
			}
			.indropdown:hover .indropdown-content {
  				display: block;
			}
			.indropdown:hover .indropbtn{
				background-color: lightblue;
				color: deeppink;
			}
			.vice-title{
				color: palevioletred;
				font-size: 1.1em;
				font-family: comic sans ms;
			}
			.vice-title:hover{
				color: palevioletred;
				font-size: 1.3em;
				font-family: comic sans ms;
			}
			.head3{
				color: hotpink;
				font-family: impact;
			}
			.head3:hover{
				color: hotpink;
				font-family: impact;
				font-size: 1.4em;
			}
			.head33{
				color: plum;
			}
			.unordered{
				color: dodgerblue;
			}
			.video1{
				border: 3px dashed cadetblue;
			}
			.video2{
				border: 3px dashed steelblue;
			}
			.picture{
				border: 3px ridge lightblue;
			}
			.sentences{
				color: royalblue;
			}





			.body1{
				background-color: lightgoldenrodyellow;
			}
			.p1h1{
				color: darkred;
				text-shadow: 4px 3px 2px lightpink;
				font-family: Rubik Wet Paint;
			}
			.p1p1{
				color: mediumvioletred;
				font-size: 1.1em;
			}
			#change{
				opacity: 0.7;
			}
			#change:hover{
				opacity: 1;
			}
			.p1dropbtn{
				text-decoration: none;
				background-color: darkred;
				color:lightgoldenrodyellow;
				padding: 5px;
				margin-right: -4px;
				border: none;
				cursor: pointer;
			}
			.p1dropdown{
				position: relative;
				display: inline-block;
			}
			.p1dropdown-content{
				display: none;
				position: absolute;
				font-size: 12px;
				background-color: rgb(255, 255, 230);
				min-width: 48px;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
			}
			.p1dropdown-content a{
				color: darkred;
				padding: 5px 5px;
				text-decoration: none;
				display: block;
			}
			.p1dropdown-content a:hover{
				background-color: lightgrey;
			}
			.p1dropdown:hover .p1dropdown-content {
  				display: block;
			}
			.p1dropdown:hover .p1dropbtn{
				background-color: lightgoldenrodyellow;
				color: darkred;
			}
			.vice-heading{
				color: orangered;
				font-family: Tilt Prism;
			}
			.vice-heading:hover{
				color: orangered;
				font-size: 1.3em;
				font-family: Tilt Prism;
			}
			.sentences11{
				color: peru;
			}
			.p1ul{
				list-style-type:square;
			}
			.square{
				color: indianred;
				font-family: comic sans ms;
			}
			.sentences12{
				color: olivedrab;
			}
			.table1{
				border: 3px double mediumvioletred;
				border-collapse: collapse;
				text-align: center;
			}
			.ttitle{
				color: indigo;
				background-color: lightpink;
			}
			.row1{
				color: indianred;
			}





			.body2{
				background-color: mistyrose;
			}
			.p2dropbtn{
				text-decoration: none;
				background-color: indigo;
				color:mistyrose;
				padding: 5px;
				margin-right: -4px;
				border: none;
				cursor: pointer;
			}
			.p2dropdown{
				position: relative;
				display: inline-block;
			}
			.p2dropdown-content{
				display: none;
				position: absolute;
				font-size: 12px;
				background-color: linen;
				min-width: 48px;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
			}
			.p2dropdown-content a{
				color: indigo;
				padding: 5px 5px;
				text-decoration: none;
				display: block;
			}
			.p2dropdown-content a:hover{
				background-color: lightgrey;
			}
			.p2dropdown:hover .p2dropdown-content {
  				display: block;
			}
			.p2dropdown:hover .p2dropbtn{
				background-color: mistyrose;
				color: indigo;
			}
			.p2h1{
				color:indigo ;
				text-shadow: 4px 3px 2px lightpink;
				font-family: Righteous;
			}
			.p2p1{
				color: plum;
				font-size: 1.1em;
				font-family: comic sans ms;
			}
			.p2photo{
				opacity: 1;
			}
			.p2photo:hover{
				opacity: 0.8;
				width: 258px;
				height: 360px;
			}
			.tvtitle{
				border: 1px solid palevioletred;
				border-radius: 5px;
				padding: 5px;
				color: papayawhip;
				background-color: lightpink;
				font-family: Courgette;
			}
			.picture2{
				border: 4px ridge mistyrose;
			}
			.p2form{
				border:  1px double mistyrose;
				width: 60%;
			}
			.p2h4{
				font-family: Pacifico;
				color: rebeccapurple;
			}
			.p2p2{
				color: palevioletred;
			}
			.p2p3{
				color: deeppink;
			}
			.romance{
				position: absolute;
  				left: 10px;
  				width: 400px;
  				border: 1px solid mistyrose;
  				padding: 5px;
			}
			.mystery{
				position: absolute;
  				right: 10px;
  				width: 400px;
  				border: 1px solid mistyrose;
  				padding: 5px;
			}
			.drama{
				position: absolute;
  				left: 515px;
  				width: 400px;
  				border: 1px solid mistyrose;
  				padding: 5px;
			}
			.last4{
				width: 24.7%;
  				text-align: center;
            	display:inline-block;
			}
			.tv03{
				color: firebrick;
  				text-decoration: none;
				display: inline-block;
			}
			.tv3{
				color: firebrick;
  				text-decoration: none;
				display: inline-block;
			}
			.tv3:hover{
				color: lightpink;
  				text-decoration: none;
				display: inline-block;
				font-size: 1.2em;
			}





			.body3{
			background-color: rgb(230, 255, 204);
		}
			.p3dropbtn{
				text-decoration: none;
				background-color: rgb(41, 163, 41);
				color:rgb(230, 255, 204);
				padding: 5px;
				margin-right: -4px;
				border: none;
				cursor: pointer;
			}
			.p3dropdown{
				position: relative;
				display: inline-block;
			}
			.p3dropdown-content{
				display: none;
				position: absolute;
				font-size: 12px;
				background-color: rgb(243, 255, 230);
				min-width: 48px;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
			}
			.p3dropdown-content a{
				color: rgb(41, 163, 41);
				padding: 5px 5px;
				text-decoration: none;
				display: block;
			}
			.p3dropdown-content a:hover{
				background-color: lightgrey;
			}
			.p3dropdown:hover .p3dropdown-content {
  				display: block;
			}
			.p3dropdown:hover .p3dropbtn{
				background-color: rgb(230, 255, 204);
				color: rgb(41, 163, 41);
			}
		.p3h1{
			color: rgb(41, 163, 41);
			font-family: Berkshire Swash;
		}
		.p3h3{
			color: rgb(230, 115, 0);
			font-family: Cabin Sketch;
		}
		.p3form{
			border: 3px double cadetblue;
			border-radius: 10px;
			width: 35%;
			background-color: rgb(140, 217, 179);
			color: rgb(0, 77, 0);
		}
		.p3table{
			color: rgb(255, 153, 0);
			border:  3px double rgb(153, 204, 0);
			border-radius: 10px;
			text-align: left;
			padding: 5px;
		}
		.p3tablea{
			color: rgb(255, 153, 0);
			text-decoration: none;
		}
		.p3tablea:hover{
			color: rgb(230, 115, 0);
			text-decoration: none;
			font-size: 1.2em;
		}
		.p3h4{
			color: rgb(0, 179, 134);
			font-family: Cabin Sketch;
		}
		.p3p1{
			color: rgb(0, 230, 0);
			font-family: Rancho;
		}
		.p3p2{
			color: rgb(204, 51, 0);
			font-family: Rancho;
		}
		.p3div{
			width: 24.7%;
  			
            display:inline-block;
		}
		#p3change{
				opacity: 1;
			}
		#p3change:hover{
				opacity: 0.7;
			}
		.p3h5{
			color: rgb(0, 204, 0);
			font-family: Cabin Sketch;
		}
		.p3p3{
			color: rgb(230, 77, 0);
			font-family: Henny Penny;
		}